body{
    height: 1491px;
    /* border:2px solid red; */
}
.bigwrap{
    position: relative;
    top: 88px;
    /* border: 2px solid black; */
    height: 1400px;
}
#topwrap{
    border-top: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px;
    position: relative;
    /* border: 2px solid purple; */
    background-image: url(DSC1589.JPG);
    background-size: cover;
}
.righttopwrap{
    position: relative;
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
    margin-left: 80px;
    width:600px;

}
.dashboard1{
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 0.5px solid black;
    border-top: 0px;
    border-left: 0px;
    height: 300px;
    width: 300px;
    right: 20px;
    box-shadow: 5px 5px 5px #888888;
}
.dashboard2{
    position: relative;
    border: 1px solid black;
    border-top: 0px;
    border-left: 0px;
    height: 300px;
    width: 300px;
    padding: 20px;
    box-shadow: 5px 5px 5px #888888;
}
.dashboard3{
    position: relative;
    right: 20px;
    border: 1px solid black;
    border-top: 0px;
    border-left: 0px;
    height: 300px;
    width: 300px;
    padding: 20px;
    box-shadow: 5px 5px 5px #888888;
}
.dashboard4{
    position: relative;
    border: 1px solid black;
    border-top: 0px;
    border-left: 0px;
    height: 300px;
    width: 300px;
    padding: 20px;
    box-shadow: 5px 5px 5px #888888;
}
.carouselExampleCaptions{
    position: relative;
}
.carousel-inner{
    position: relative;
    width: 1024px;
    height: 683px;
    border-radius: 1%;
    border-style: inset;
    box-shadow: 5px 5px 5px #888888;
    opacity: 0.9; 
}
.floatingtab1{
    position: absolute;
    left: 550px;
    width: 350px;
    height: 100px;
    background-color: #353535;
    margin: 20px;
    opacity: 0.5;
    border-radius: 2%;
    z-index: 2;
    padding: 18px;
    transition: all 0.4s ease;    
}
.floatingtab1:hover{
    opacity: 1;
    width: 400px;
    height: 150px;
}
.floatingtab2{
    position: absolute;
    left: 630px;
    top: 80px;
    width: 350px;
    height: 100px;
    background-color:#353535;
    margin: 20px;
    opacity: 0.9;
    border-radius: 2%;
    z-index: 2;
    padding: 18px;
    box-shadow: 3px 3px 3px grey;
}
.floatingtab2 a:hover{
    text-decoration: none;
}
#floattext1{
    color: yellow;
    font-weight: bold;
    font-family: sans-serif;
    font-size: x-large;
}
#floattext2{
    color: yellow;
    font-weight: bold;
    font-family: sans-serif;
    font-size: x-large;
    
}
.post{
    position: relative;
}
.carousel-indicators{
    position: absolute;
    color: black;
    width: 100px;
    height: 15px;
    left: 275px;
}
.footer{
    display: flex;
    width: 100%;
    height: 150px;
    
}
#num1circle-css{
    margin-left: 25px;
    margin-top: 24px;
}
#num2circle-html{
    margin-left: 10px;
    margin-top: 10px;
}
#num3circle-bootstrap{
    margin-left: 10px;
    margin-top: 10px;
}
#num4circle-js{
    margin-left: 10px;
    margin-top: 10px;
}
.htmllogocontainer{
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: white;
    width: 60px;
    height: 65px;
    left: -10px;
    bottom: 245px;
    border-radius: 15%;
}
.htmllogo{
    position: relative;
    width: 50px;
    height: 50px;
}
.bootlogocontainer{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 60px;
    height: 65px;
    left: -10px;
    bottom: 245px;
    border-radius: 15%;
}
.bootlogo{
    display:flex;
    align-items: center;
    position: relative;
    width: 50px;
    height: 50px;
}
.csslogocontainer{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 60px;
    height: 65px;
    left: -10px;
    bottom: 245px;
    border-radius: 15%;
}
.csslogo{
    display:flex;
    align-items: center;
    position: relative;
    top: 1px;
    width: 50px;
    height: 50px;
}
.jslogocontainer{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 60px;
    height: 65px;
    left: -10px;
    bottom: 245px;
    border-radius: 15%;
}
.jslogo{
    display:flex;
    align-items: center;
    position: relative;
    width: 50px;
    height: 50px;
}
.contactme{
    display: flex;
    justify-content: center;
    position: relative;
    padding: 20px;
    border: 1px solid grey;
    font-size: 3em;
    font-weight: bold;
    text-shadow:1px 1px mediumturquoise;
    color: #4D4D4D;
    letter-spacing: 0.15em;
    transition: all .2s linear;
}
.contactme:hover{
    font-size: 4em;
}
.cardss{
    display:flex;
    justify-content: space-around;
    align-items: baseline;
    font-weight: 800;
    transition: all .2s linear; 
}
.cardss:hover{
    background-color: yellow;
}
.footerlogos{
    height: 15%;
    width: 15%;
}
h3{
    font-family: sans-serif;
    font-weight: bold;
}
.lastline{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #353535;
    padding: 5px;
}
.catheadpage{
    background-color: black;
}
#bigcathead{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
    
}
#bigcathead img{
    box-shadow: 10px 10px 10px grey;
    border-radius: 2%;
}
.games{
    position: relative;
    top: 130px;
}