.form1{
    padding: 40px 100px 40px 100px;
}

#submit-btn{
    margin-top: 20px;
}

body{
    background-color: antiquewhite;
}
.reviewcontent{
    display: flex;
    justify-content: space-around;
    margin: 0px;
    padding: 10px;

}
#reservation{
    padding: 40px 100px 40px 100px;
}

#bookrecommentlist{
    margin: auto;
}
.navbar-brand{
    justify-content: center;
}

#detailshere{
    text-align: left;
    
}
.box-item {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 82px;
    background: url(/number-bg.png) no-repeat center center;
    background-size: 100% 100%;
    font-size: 62px;
    color: white;
    line-height: 82px;
    text-align: center;
    writing-mode: vertical-lr;
    text-orientation: upright;
    overflow: hidden;
}
.box-item span {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    letter-spacing: 10px;
  }
  #box{
    width: 100%;display: flex;justify-content: center;align-items: center;   
  }
  #count{
    width: 200px;height: 200px;background-color: #0093FF;color: #FFFFFF;font-size: 36px;line-height: 200px;text-align: center;border-radius: 50%;font-family: "Arial Black";
  }
  #clickcount{
      margin-top: 50px;
  }
#reservationrows{
    margin: 40px 50px 40px 50px;
    padding: 20px 20px 20px 20px;
    border: 1px solid black;
    box-shadow: 5px 5px;
}
#dashboard{
    margin: 40px 50px 40px 50px;
    padding: 20px 20px 20px 20px;
    border: 1px solid black;
    box-shadow: 5px 5px;
}
.navbar{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
#reservationfooter{
    margin-left: 100px;
}