body{
    background-color: #FFCC00;;
}
.container{
    display: flex;
    
    width:1200px;
    position: relative;
    top: 25px;
    
    
}
.contain-top{
    position: relative;
    border: 2px solid red;
}
.container-header{
    position: relative;
    display: flex;
    left: -46px;
    justify-content: space-between;
    height:100px;
    width: 1200px;
    
    /*border: 0.5px solid red;*/
}
.container-header .fouricons{
    align-self: flex-end;
    transform: rotate(1turn);
}
.container-main{
    position: relative;
    height: 600px;
    width: 1200px;
    border: 0px dotted blue;
    top: 40px;
    left:-45px;
}
.nav{
    display: flex;
    height: 59px;
    background-color: rgba(255, 255, 255, 0.959);
    font-size: 13px;
    text-align: center;
    align-items: center;
}
.tags{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 59px;
}
.tags:hover{
    transition: all .3s 0s ease;
    color:rgba(255, 255, 255, 0.959);
    background-color: black;
}
#homepage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 59px;
    width:119px;
    background-color: black;
    color:rgba(255, 255, 255, 0.959);
}
#homepage:hover{
    transition: all .3s 0s ease;
    background-color:rgba(255, 255, 255, 0.959);
    color: black;
}
#news{
    width:89px;
}
#shop{
    width:83px;
}
#artists{
    width:100px;
}
#discography{
    width: 135px;
}
#events{
    width: 99px;
}
#galleries{
    width: 117px;
}
#videos{
    width: 95px;
}
#fullwidth{
    width: 119px;
}
#contact{
    width: 109px;
}
.slides{
    position: relative;
}
#carouselExampleIndicators{
    position: relative;
}
#my-carousel-indicators{
    position: relative;
    bottom: -100;
    top: 17px;
    
}#my-carousel-indicators > li{
    width: 10px;
    height: 10px;
    border: 0;               /* 點解border做0, 三點會由方變圓? */
    border-radius: 100px;
}
#my-carousel-indicators > li.active{   /* li.active一定要連埋 */
    background-color:#353535;
}
.carousel-talker{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    width: 260px;
    background-color: #121107;
    left: 470px;
    bottom: 375px;
    opacity: 0.8;
    
}
.innertalker{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height:100px;
    width: 215px;
    color: white;
    border-top: 3px solid white;
    border-bottom: 3px solid white;

}
.latestmedia{
    font-size: 15px;
    text-align: start;
    line-height: 1.5vh;
    padding: 5px 0px 5px 0px;
    letter-spacing: 0.001px;
    margin-left: -15px;
}    
.middle{
    position: relative;
    top: 120px;
    box-sizing: border-box;
    width: 1200px;
    height: 289px;
}
.row{
    border: 0.1px solid green;

}
.col-md-3{
    /*border: 1px solid red;*/
    height: 265px;
}
.media1{
    /* border: 1px solid blue; */
    /* border-bottom: 1px solid yellowgreen; */
    width: 280px;
    height: 265px;
    margin-left: -16px;          /*終於較到width啦!!!!!*/
    background-color: #ffffff;
}
.media2{
    /* border: 1px solid blue;
    width: 280px; */
    height: 265px;
    margin-left: -10.4px;   
    background-color: #ffffff;       
}
.media3{
    /* border: 1px solid blue; */
    width: 280px;
    height: 265px;
    margin-left: -2.4px;
    background-color: #ffffff;
}
.media4{
    /* border: 1px solid blue; */
    width: 280px;
    height: 265px;
    margin-left: 5px;
    background-color: #ffffff;
}
.video1-upper{
    /* border: 1px solid black; */
    height: 160px;
    margin-left: 0px;
}
.video1-below{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 105px;
    /* border: 1px solid palegreen; */
}
.video2-upper{
    /* border: 1px solid black; */
    height: 160px;
}
.video2-below{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 105px;
    /* border: 1px solid palegreen; */
}
.video3-upper{
    /* border: 1px solid black; */
    height: 160px;
}
.video3-below{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 105px;
    /* border: 1px solid palegreen; */
}
.video4-upper{
    height: 160px;
}
.video4-upper iframe{
    height:160px;                   /*如果冇set height, 影片content會有白色*/
}
.video4-below{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 105px;
    /* border: 1px solid palegreen; */
}
#down-down{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}