body{
    background-color: #FFCC00;;
}
.container{
    display: flex;
    
    width:1200px;
    position: relative;
    top: 25px;
    
    
}
.contain-top{
    position: relative;
    border: 2px solid red;
}
.container-header{
    position: relative;
    display: flex;
    left: -46px;
    justify-content: space-between;
    height:100px;
    width: 1200px;
    
    /*border: 0.5px solid red;*/
}
.container-header .fouricons{
    align-self: flex-end;
    transform: rotate(1turn);
}
.container-main{
    position: relative;
    height: 600px;
    width: 1200px;
    border: 0px dotted blue;
    top: 40px;
    left:-45px;
}
.nav{
    display: flex;
    height: 59px;
    background-color: rgba(255, 255, 255, 0.959);
    font-size: 13px;
    text-align: center;
    align-items: center;
}
.tags{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 59px;
}
.tags:hover{
    transition: all .3s 0s ease;
    color:rgba(255, 255, 255, 0.959);
    background-color: black;
}
#homepage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 59px;
    width:119px;
    background-color: black;
    color:rgba(255, 255, 255, 0.959);
}
#homepage:hover{
    transition: all .3s 0s ease;
    background-color:rgba(255, 255, 255, 0.959);
    color: black;
}
#news{
    width:89px;
}
#shop{
    width:83px;
}
#artists{
    width:100px;
}
#discography{
    width: 135px;
}
#events{
    width: 99px;
}
#galleries{
    width: 117px;
}
#videos{
    width: 95px;
}
#fullwidth{
    width: 119px;
}
#contact{
    width: 109px;
}
.slides{
    position: relative;
}
#carouselExampleIndicators{
    position: relative;
}
#my-carousel-indicators{
    position: relative;
    bottom: -100;
    top: 17px;
    
}#my-carousel-indicators > li{
    width: 10px;
    height: 10px;
    border: 0;               /* 點解border做0, 三點會由方變圓? */
    border-radius: 100px;
}
#my-carousel-indicators > li.active{   /* li.active一定要連埋 */
    background-color:#353535;
}
.carousel-talker{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    width: 260px;
    background-color: #121107;
    left: 470px;
    bottom: 375px;
    opacity: 0.8;
    
}
.innertalker{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height:100px;
    width: 215px;
    color: white;
    border-top: 3px solid white;
    border-bottom: 3px solid white;

}
.latestmedia{
    font-size: 15px;
    text-align: start;
    line-height: 1.5vh;
    padding: 5px 0px 5px 0px;
    letter-spacing: 0.001px;
    margin-left: -15px;
}    
.middle{
    position: relative;
    top: 120px;
    box-sizing: border-box;
    width: 1200px;
    height: 289px;
}

.col-md-3{
    /*border: 1px solid red;*/
    height: 265px;
}
.media1{
    /* border: 1px solid blue; */
    /* border-bottom: 1px solid yellowgreen; */
    width: 280px;
    height: 265px;
    margin-left: -16px;          /*終於較到width啦!!!!!*/
    background-color: #ffffff;
}
.media2{
    /* border: 1px solid blue;
    width: 280px; */
    height: 265px;
    margin-left: -10.4px;   
    background-color: #ffffff;       
}
.media3{
    /* border: 1px solid blue; */
    width: 280px;
    height: 265px;
    margin-left: -2.4px;
    background-color: #ffffff;
}
.media4{
    /* border: 1px solid blue; */
    width: 280px;
    height: 265px;
    margin-left: 5px;
    background-color: #ffffff;
}
.video1-upper{
    /* border: 1px solid black; */
    height: 160px;
    margin-left: 0px;
}
.video1-below{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 105px;
    /* border: 1px solid palegreen; */
}
.video2-upper{
    /* border: 1px solid black; */
    height: 160px;
}
.video2-below{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 105px;
    /* border: 1px solid palegreen; */
}
.video3-upper{
    /* border: 1px solid black; */
    height: 160px;
}
.video3-below{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 105px;
    /* border: 1px solid palegreen; */
}
.video4-upper{
    height: 160px;
}
.video4-upper iframe{
    height:160px;                   /*如果冇set height, 影片content會有白色*/
}
.video4-below{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 105px;
    /* border: 1px solid palegreen; */
}
.video3-upper > img{
    padding: 10px;
}
iframe{
    padding: 10px;
}
.readmore{
    background-color: #FFCC00;
    color: black;
    font-size: 5px;
    font-weight: 700;
    padding: 5px;
    transition: all .2s linear;
}
.readmore:hover{
    background-color: black;
    color: #FFCC00;
}
#down-down{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: -15px;
    border: 0.5px solid black;
    width:1200px;
    height:1000px;
}
.upcomingevents{
    font-size: 15px;
    text-align: start;
    line-height: 1.5vh;
    padding: 5px 0px 5px 0px;
    letter-spacing: 0.001px;
}
.leftupper{
    background-color:#FFCC00;
    height: 365px;
}
.upcoming{
    display: flex;
    background-color: rgb(100, 237, 168);
    width: 280px;
    height: 336px;
    border-bottom: 0.5px solid black;
}
.leftside{
    background-color: black;
    text-align: center;
    margin-left: -15px;
}
.left1{
    height: 84px;
    width: 65px;
    line-height: 20px;
    color: #ffffff;
    letter-spacing: -2px;
}
#event1date{
    margin-top: 5px;
}
.left2{
    height: 84px;
    width: 65px;
    line-height: 20px;
    color: #ffffff;
    letter-spacing: -2px;
}
.left3{
    height: 84px;
    width: 65px;
    line-height: 20px;
    color: #ffffff;
    letter-spacing: -2px;
}
.left4{
    height: 84px;
    width: 65px;
    line-height: 20px;
    color: #ffffff;
    letter-spacing: -2px;
}
.date{
    font-size: x-large;
}
.month{
    font-size: 7px;
    letter-spacing: 0px;
    color:#a8a8a8;
}
.rightside{
    background-color: #ffffff;
    line-height: 25px;;
    text-align: start;
}
.location1{
    
    font-size: 3px;
    font-weight: 700; 
}
.location2{
    margin-top:-10px;
    font-size: 2px; 

}
.actionbutton{
    font-size: 3px;
    font-weight: bold;
    padding: 5px 5px 5px 5px;
    background-color: #FFCC00;
    transition: all .2s linear;
}
.actionbutton:hover{
    background-color: black;
    color: #FFCC00;
}
.right1{
    width: 215px;
    height: 84px;
    padding-left: 10px;
    background-color: rgb(248,248,248);
    border-bottom: 0.5px dashed black;
}
.right2{
    width: 215px;
    height: 84px;
    padding-left: 10px;
    background-color: rgb(247,247,247);
    border-bottom: 0.5px dashed black;
}
.right3{
    width: 215px;
    height: 84px;
    padding-left: 10px;

    border-bottom: 0.5px dashed black;
}
.right4{
    width: 215px;
    height: 84px;
    padding-left: 10px;

    border-bottom: 0.5px dashed black;
}
.midcol{
    margin-top: 0px;
    margin-left: -226px;
    width: 588px;
    height: 600px;
    background-color: #FFFF;
    position: relative;
}
#news2{
    font-size: 15px;
    text-align: start;
    height: 24px;
    width: 588px;
    padding: 2.5px 0px 0px 0px;
    letter-spacing: 0.001px;
    background-color: #FFCC00
}
.floatdatebase{
    position: absolute;
    bottom: 182px;
    left: 30px;
    height:96px;
    width: 65px;
    line-height: 20px;
    background-color: #FFCC00;
    letter-spacing: -2px;
    
}
.floatdate{
    position: absolute;
    text-align: center;
    bottom: 187px;
    left: 30px;
    height:91px;
    width: 65px;
    line-height: 20px;
    background-color: #353535;
    letter-spacing: -2px;
    color: #ffffff; 
}
#floatdate{
    vertical-align: middle;
    font-size: 25px; 
    /* background-color: blanchedalmond; */
}
#floatmonth{
    vertical-align: middle;
    font-size: 10px; 
}
#floatyear{
    vertical-align: middle;
    font-size: 15px;
    /* background-color: blanchedalmond; */
}
#interview{
    padding-top: 40px;
    padding-left: 30px;
    font-weight: bold;
}
div>hr{
    padding-left: 30px;
    padding-right: 30px;
}

.leftupper .leftside.left1{
    color: red;
}