body{
    min-height: 100vh;
    background-color: wheat;
}
.memo-container{
    display:flex;
    flex-wrap: wrap;
    /*align-items: flex-start;*/
    width: 100%;
    padding: 10px;
}
.memo{
    width: 180px;
    height: 180px;
    margin: 10px 10px 15px 10px;
    background-color: #F5E37B;
    padding: 10px;
    box-shadow: 10px 10px 10px black;
    position: relative;
}
.memo .icon{
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.memo .bottom-right{
    position: absolute;
    bottom: -10px;
    right: -10px;
}
.memo .top-right{
    position: absolute;
    top: -10px;
    right: -10px;
}
.memo:nth-child(3n+1){                      /*要再研究佢原理，3n係0?? */ 
    background-color: lightblue;
}
.memo:nth-child(3n+2){                      
    background-color: pink;
}
.memo:nth-child(3n){                      
    background-color: #f5e37b;
}
.admin-panel{
    background-color: darkred;
    padding: 5px;
    /*display: flex;*/
    text-align: center;
}
.heading{
    color: white;
}
.btn-primary{
    margin: 10px;
}